BODY {
    background-color: #666;
} 

a:visited { 
    color: #144;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.body-container { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
    background-color: #AAA;
    color: black;
    padding: 10px;
    border: 1px solid black;
}

h1 {
    display: block;
    margin: 2em;
    border: 1px solid black;
    padding: 1em;
    color: #444;
    font-size: 1em;
    text-align: center;
}

.main-container {
    margin: 2em;
}

.nav-container {
    display: block;
    border: 1px solid black;
    float: left;
    vertical-align; top:
    font-size: .8em;
    min-width: 20%;
    margin-right: 2em;
}

.nav-container h1 {
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    text-align: center;
}

.nav-container a {
    display: block;
    padding: 5px;
}

.nav-container a:hover {
    background-color: #444;
    color: white;
    font-weight: bold;
}

